<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestión de Usuarios</title>
        <link rel="stylesheet" href="static/css/AddUser.css" th:href="@{/css/AddUser.css}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
              integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
              crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>

    </body>

    <input type="checkbox" id="checkbox">
    <header class="header">
        <h2 class="u-name">Burger <b>Eats</b>
            <label for="checkbox">
                <i id="navbtn" class="fa fa-bars" aria-hidden="true"></i>
            </label>
        </h2>
        <i class="fa fa-user" aria-hidden="true"></i>
    </header>

    <div class="body">
        <nav class="side-bar">
            <div class="user-p">
                <img src="http://localhost:9090/ola">
                <h4>Elias</h4>
            </div>
            <ul>
                <li>
                    <a th:href="@{/reporte}">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/Plato}">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                        <span>Agregar Platos</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/AddUser}">
                        <i class="fa-solid fa-user"></i>
                        <span>Gestion de usuarios</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/pedidos}">
                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        <span>Pedidos</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/calendario}">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>Calendario</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/Foro}">
                        <i class="fa fa-coffee" aria-hidden="true"></i>
                        <span>Foro</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/config}">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span>Setting</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/index}">
                        <i class="fa fa-power-off" aria-hidden="true"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>

        <section class="section-1">


            <div class="user-form">
                <h2>Agregar Usuario</h2>

                <form id="add-user-form">
                    <div>
                        <img src="https://thumbs.dreamstime.com/b/ni%C3%B1o-peque%C3%B1o-gris-del-placeholder-de-la-foto-persona-134725718.jpg"
                             alt="avatar" id="img" />

                        <label class="file-input" for="foto">Subir<input type="file" name="foto" id="foto"
                                                                         accept="image/*" /></label>
                    </div>
                    <input type="text" id="name" placeholder="Nombre" required>
                    <input type="email" id="email" placeholder="Correo electrónico" required>
                    <input type="password" id="Contraseña" placeholder="Contraseña" required>
                    <input type="text" id="Cargo" placeholder="Cargo" required>
                    <input type="submit" value="Agregar">
                </form>
            </div>

            <div class="user-list">
                <h2>Lista de Usuarios</h2>
                <table id="users">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo electrónico</th>
                            <th>Contraseña</th>
                            <th>Cargo</th>
                            <th>eliminar</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los usuarios se añadirán dinámicamente aquí -->

                    </tbody>
                </table>
                <script>
                    var users = [];

                    function addUser(event) {
                        event.preventDefault();

                        var nameInput = document.getElementById("name");
                        var emailInput = document.getElementById("email");
                        var ContraseñaInput = document.getElementById("Contraseña");
                        var CargoInput = document.getElementById("Cargo");

                        var name = nameInput.value;
                        var email = emailInput.value;
                        var Contraseña = ContraseñaInput.value;
                        var Cargo = CargoInput.value;


                        if (name && email && Contraseña && Cargo) {
                            var user = {
                                name: name,
                                email: email,
                                Contraseña: Contraseña,
                                Cargo: Cargo
                            };

                            users.push(user);
                            renderUsers();

                            nameInput.value = "";
                            emailInput.value = "";
                            ContraseñaInput.value = "";
                            CargoInput.value = "";
                        }
                    }

                    function deleteUser(index) {
                        users.splice(index, 1);
                        renderUsers();
                    }

                    function renderUsers() {
                        var userList = document.getElementById("users").getElementsByTagName('tbody')[0];
                        userList.innerHTML = "";

                        users.forEach(function (user, index) {
                            var userRow = document.createElement("tr");
                            userRow.innerHTML = '<td>' + user.name + '</td><td>' + user.email + '</td><td>' + user.Contraseña + '</td><td>' + user.Cargo + '</td><td><button onclick="deleteUser(' + index + ')">Eliminar</button></td>' + '<td><button>Editar</button></td>';

                            userList.appendChild(userRow);
                        });
                    }

                    var addUserForm = document.getElementById("add-user-form");
                    addUserForm.addEventListener("submit", addUser);
                </script>
                <script>
                    const defaultFile = 'https://stonegatesl.com/wp-content/uploads/2021/01/avatar-300x300.jpg';

                    const file = document.getElementById('foto');
                    const img = document.getElementById('img');
                    file.addEventListener('change', e => {
                        if (e.target.files[0]) {
                            const reader = new FileReader();
                            reader.onload = function (e) {
                                img.src = e.target.result;
                            }
                            reader.readAsDataURL(e.target.files[0])
                        } else {
                            img.src = defaultFile;
                        }
                    });
                </script>
        </section>
    </body>

</html>